#set($subject = "$device.name: otrzymano wynik polecenia")
#set($digest = "$device.name otrzymano wynik polecenia: $position.getString('result') at $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Urządzenie: $device.name<br>
Rezultat: $position.getString('result')<br>
Czas: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Link: <a href="$webUrl?eventId=$event.id">$webUrl?eventId=$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
