#set($subject = "$esc.html($device.name): jest offline")
#set($digest = "$esc.html($device.name) jest offline od $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Urządzenie: $esc.html($device.name)<br>
Jest offline<br>
Czas: $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
