#set($subject = "$device.name: utrata paliwa")
#set($digest = "$device.name utraciło paliwo: $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Urządzenie: $device.name<br>
Czas: $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Poprzednia wartość: $event.attributes.before<br>
Bieżąca wartość: $event.attributes.after<br>
Lokalizacja: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
