#set($subject = "Wygaśnięcie urządzenia")
#set($digest = "Twoje urządzenie $esc.html($device.name) wygasło")
<!DOCTYPE html>
<html>
<body>
Twoje urządzenie $esc.html($device.name) wygasło.
</body>
</html>
