#set($subject = "$device.name: zmiana kierowcy")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString('driverUniqueId'))
#end
#set($digest = "Kierowca $driverName zmienił się w $device.name o $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Urządzenie: $device.name<br>
Czas: $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Lokalizacja: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
Kierowca: $driverName<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
