#set($subject = "Reset hasła")
#set($digest = "Link do zresetowania hasła: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Aby zresetować hasło, kliknij w link:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
