#set($subject = "Przypomnienie o wygaśnięciu konta")
#set($digest = "Twoje konto wygaśnie: $dateTool.format('dd-MM-yyyy', $expiration, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Twoje konto wygaśnie: $dateTool.format('dd-MM-yyyy', $expiration, $locale, $timezone).
</body>
</html>
