#set($subject = "Υπήρξε αλλαγή οδηγού στο όχημα $device.name")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString('driverUniqueId'))
#end
#set($digest = "ο Οδηγός $driverName έχει τοποθετηθεί στο όχημα $device.name στις $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Συσκευή: $device.name<br>
Ώρα: $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Σημείο: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
Οδηγός: $driverName<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Απεγγραφή</a>
</body>
</html>
