#set($subject = "$esc.html($device.name): Ελήφθη αρχείο")
#set($digest = "Στη Συσκευή $esc.html($device.name) $esc.html($event.getString('media')) Ελήφθη αρχείο: $esc.html($event.getString('file')) στις $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Συσκευή: $esc.html($device.name)<br>
Τύπος: $esc.html($event.getString('media'))<br>
Αρχείο: <a href="$webUrl/api/media/$device.uniqueId/$esc.html($event.getString('file'))">$esc.html($event.getString('file'))</a><br>
Ώρα: $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Σύνδεσμος: <a href="$webUrl/event/$event.id">$webUrl/event/$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Απεγγραφή</a>
</body>
</html>
