#set($subject = "Επαναφορά κωδικού πρόσβασης")
#set($digest = "Σύνδεσμος για την επαναφορά του κωδικού πρόσβασης: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Για να επαναφέρετε τον κωδικό πρόσβασης, κάντε κλικ στον παρακάτω σύνδεσμο:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
