root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 4
ij_continuation_indent_size = 8
ij_java_line_comment_at_first_column = false
ij_java_block_comment_at_first_column = false
ij_java_imports_layout = *, |, jakarta.**, java.**, javax.**, |, $*
ij_java_layout_static_imports_separately = true
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_around_method_in_interface = 1
ij_java_blank_lines_around_initializer = 1
ij_java_blank_lines_around_class = 1
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_before_rbrace = 1
