target
nbactions.xml
.classpath
.project
.settings
.idea
*.iml
.DS_Store
.checkstyle
.gradle
out
build
.vscode

# CUSTOM CODE START 
bin/
temp_upload/
setup/OpenJDK*
setup/traccar-linux*
# CUSTOM CODE END
