#set($subject = "Cihaz Süresi Bitti")
#set($digest = "Cihaz $esc.html($device.name) Süresi Bitti")
<!DOCTYPE html>
<html>
<body>
Mevcut Cihazınız: $esc.html($device.name) Geçerlilik tarihi sona ermiştir.
</body>
</html>
