#set($subject = "$device.name: Aktif değil")
#set($lastUpdate = $dateTool.getDate())
#set($ignore = $lastUpdate.setTime($event.getLong('lastUpdate')))
#set($digest = "$device.name İnaktif: $dateTool.format('yyyy-MM-dd HH:mm:ss', $lastUpdate, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Cihaz: $device.name<br>
İnaktif<br>
Son Güncelleme:: $dateTool.format('yyyy-MM-dd HH:mm:ss', $lastUpdate, $locale, $timezone)<br>
Link: <a href="$webUrl/event/$event.id">$webUrl/event/$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Bildirim Aboneliğini İptal Et</a>
</body>
</html>
