#set($subject = "Cihaz Süre Hatırlatma")
#set($digest = "Cihaz $device.name Bitiş Tarihi: $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Mevcut Cihazınız: $device.name şu tarihte süresi bitecektir: $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone).
</body>
</html>
