#set($subject = "$device.name: Hız İhlali")
#if($speedUnit == "kmh")
#set($speedValue = $position.speed * 1.852)
#set($speedString = $numberTool.format('0.0 km/h', $speedValue))
#elseif($speedUnit == "mph")
#set($speedValue = $position.speed * 1.15078)
#set($speedString = $numberTool.format('0.0 mph', $speedValue))
#else
#set($speedString = $numberTool.format('0.0 kn', $position.speed))
#end
#set($digest = "$device.name Hız İhlali $speedString#{if}($geofence) Bölge $geofence.name#{else}#{end} Zaman $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Cihaz: $device.name<br>
Hız İhlali: $speedString#{if}($geofence) in $geofence.name#{else}#{end}<br>
Zaman: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Konum: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Bildirim Aboneliğini İptal Et</a>
</body>
</html>
