#set($subject = "Şifre Sıfırlama ve Oluşturma")
#set($digest = "Şifre Sıfırlama Linki: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Lütfen yeni şifrenizi belirlemek için aşağıdaki linke tıklayınız:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
