packages:
  yum:
    certbot: []
    mod_ssl: []

files:
  /home/ec2-user/setup.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export EMAIL=$(/opt/elasticbeanstalk/bin/get-config environment -k EMAIL)
      export DOMAIN=$(/opt/elasticbeanstalk/bin/get-config environment -k DOMAIN)
      service nginx stop
      sudo certbot certonly --non-interactive --email $EMAIL --agree-tos --standalone --domains $DOMAIN --force-renewal
      service nginx start
      cp -v /etc/letsencrypt/live/$DOMAIN/fullchain.pem /var/app/staging/setup/fullchain.pem
      cp -v /etc/letsencrypt/live/$DOMAIN/privkey.pem /var/app/staging/setup/privkey.pem

container_commands:
  getcert:
    command: /home/ec2-user/setup.sh
    ignoreErrors: true
