packages:
  yum:
    certbot: []
    mod_ssl: []

files:
  /etc/cron.d/certbot_renew:
    content: "@weekly root certbot renew\n"
    group: root
    mode: "000644"
    owner: root
  /etc/letsencrypt/live/ebcert/fullchain.pem:
    content: "dummmy certificate"
    group: root
    mode: "000644"
    owner: root
  /etc/letsencrypt/live/ebcert/privkey.pem:
    content: "dummmy key"
    group: root
    mode: "000644"
    owner: root

container_commands:
  01_getcert:
    command: "sudo certbot certonly --debug --non-interactive --email ${EMAIL_LINK} --agree-tos --standalone --domains ${DOMAIN_LINK} --keep-until-expiring --pre-hook \"sudo service nginx stop\" --post-hook \"sudo service nginx start\""
    ignoreErrors: true
  02_link:
    command: "ln -sf /etc/letsencrypt/live/${DOMAIN_LINK} /etc/letsencrypt/live/ebcert"
    ignoreErrors: true
