container_commands:
  01_download_epel:
      command: "sudo amazon-linux-extras install epel -y"
  02_enable_epel:
    command: "sudo yum-config-manager --enable epel"
  03_update_yum:
    command: "sudo yum update -y --skip-broken"
  04_install_certbot:
    command: "sudo yum install -y certbot python2-certbot-nginx python2-pip"
  20_getcert:
    command: "sudo /opt/certbot/certbot-auto certonly --standalone --debug --non-interactive --email ${EMAIL_LINK} --agree-tos --domains domain.com \
    -d admin.domaiun.com \
    -d test.domaiun.com \
    --expand --renew-with-new-domains --pre-hook \"service nginx stop\""
