#set($subject = "promemoria scadenza dispositivo")
#set($digest = "Il dispositivo $esc.html($device.name) scadrà il $dateTool.format('dd/MM/yyyy', $expiration, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Il tuo dispositivo $esc.html($device.name) scadrà il $dateTool.format('dd/MM/yyyy', $expiration, $locale, $timezone).
</body>
</html>
