#set($subject = "$device.name: Disconnesso")
#set($digest = "$device.name e' disconnesso dal $dateTool.format('dd-MM-YYYY HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $device.name<br>
si e' disconnesso<br>
Orario: $dateTool.format('dd-MM-YYYY HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Annulla iscrizione</a>
</body>
</html>
