#set($subject = "$device.name: Sconosciuto")
#set($digest = "$device.name lo stato è sconosciuto dal $dateTool.format('dd-MM-YYYY HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $device.name<br>
lo stato è sconosciuto<br>
Orario: $dateTool.format('dd-MM-YYYY HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Annulla iscrizione</a>
</body>
</html>
