#set($subject = "Reimpostazione Password")
#set($digest = "Collegamento per reimpostare la password: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Per reimpostare la password clicca sul seguente Collegamento:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
