#set($subject = "$esc.html($device.name) : résultat de commande reçu")
#set($digest = "Résultat de commande reçu pour $esc.html($device.name) : $esc.html($position.getString('result')) à $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Appareil : $esc.html($device.name)<br>
Résultat : $esc.html($position.getString('result'))<br>
Heure : $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Lien : <a href="$webUrl/event/$event.id">$webUrl/event/$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Se désabonner</a>
</body>
</html>