#set($subject = "$device.name: en ligne")
#set($digest = "$device.name en ligne à $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Appareil: $device.name<br>
En ligne<br>
Heure: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Se désabonner</a>
</body>
</html>