#set($subject = "Expiration de l'appareil")
#set($digest = "L'appareil $esc.html($device.name) a expiré")
<!DOCTYPE html>
<html>
<body>
Votre appareil $esc.html($device.name) a expiré.
</body>
</html>