#set($subject = "$esc.html($device.name) : augmentation de carburant")
#set($digest = "Augmentation de carburant pour $esc.html($device.name) à $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Appareil : $esc.html($device.name)<br>
Heure : $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Quantité avant : $esc.html($event.attributes.before)<br>
Quantité après : $esc.html($event.attributes.after)<br>
Point : <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Se désabonner</a>
</body>
</html>