#set($subject = "Rappel d'expiration de l'appareil")
#set($digest = "L'appareil $esc.html($device.name) expire le $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Votre appareil $esc.html($device.name) expirera le $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone).
</body>
</html>