#set($subject = "$device.name: le conducteur a changé")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString('driverUniqueId'))
#end
#set($digest = "Le conducteur $driverName a changé dans $device.name à $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Appareil: $device.name<br>
Heure: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Point: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
Conducteur: $driverName<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Se désabonner</a>
</body>
</html>