#set($subject = "Réinitialisation du mot de passe")
#set($digest = "Lien pour réinitialiser le mot de passe: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Pour réinitialiser le mot de passe, veuillez cliquer sur le lien suivant :<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>