#set($subject = "$esc.html($device.name): commande en attente envoyée")
#set($digest = "Commande en attente envoyée à $esc.html($device.name) à $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Appareil: $esc.html($device.name)<br>
Commande en attente envoyée<br>
Heure: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Se désabonner</a>
</body>
</html>