#set($subject = "Lembrete de expiração de dispositivo")
#set($digest = "O dispositivo $esc.html($device.name) expira em $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
O dispositivo $esc.html($device.name) vai expirar em $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone).
</body>
</html>
