#set($subject = "Expiração de dispositivo")
#set($digest = "O dispositivo $esc.html($device.name) está expirado")
<!DOCTYPE html>
<html>
<body>
O dispositivo $esc.html($device.name) está expirado.
</body>
</html>
