#set($subject = "$esc.html($device.name): arquivo de mídia recebido")
#set($digest = "$esc.html($device.name) $esc.html($event.getString('media')) recebido: $esc.html($event.getString('file')) às $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $esc.html($device.name)<br>
Tipo: $esc.html($event.getString('media'))<br>
Arquivo: <a href="$webUrl/api/media/$device.uniqueId/$esc.html($event.getString('file'))">$esc.html($event.getString('file'))</a><br>
Hora: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Url: <a href="$webUrl/event/$event.id">$webUrl/event/$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Cancelar subscrição</a>
</body>
</html>
