#set($subject = "Redefinição de senha")
#set($digest = "Link para redefinir a senha: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
  Para redefinir sua senha, clique no link abaixo:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
