#set($subject = "$device.name: alarm!")
<!DOCTYPE html>
<html>
<body>
Device: $device.name<br>
Alarm:  $position.getString("alarm")<br>
Time: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)<br>
Point: <a href="$webUrl?eventId=$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
</body>
</html>  
