#set($subject = "$device.name: Went Offline")
<!DOCTYPE html>
<html>
<body>
Asset: $device.name<br>
Status is Offline<br>
Time: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.serverTime, $locale, $timezone)<br>
<!--Link: <a href="$webUrl?eventId=$event.id">$webUrl?eventId=$event.id</a>-->
<br>
<br>
</body>
</html>  
