#set($subject = "$device.name: $maintenance.name maintenance is required")
<!DOCTYPE html>
<html>
<body>
Asset: $device.name<br>
$maintenance.name maintenance is required<br>
Time: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)<br>
<br>
Location: <a href="http://maps.google.com/maps?f=q&q=$position.latitude,$position.longitude&z=16">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<br>
Lat: $position.latitude&deg;<br>
Lon: $position.longitude&deg;<br>
</body>
</html>  
