#set($subject = "Password reset")
<!DOCTYPE html>
<html>
<body>
To reset password please click on the following link:<br>
<a href="$webUrl?passwordReset=$token">$webUrl?passwordReset=$token</a><br>
</body>
</html>
