#set($subject = "$device.name: text message received")
<!DOCTYPE html>
<html>
<body>
Device: $device.name<br>
Message:  $event.getString("message")<br>
Time: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)<br>
</body>
</html>  
