#set($subject = "$device.name: Text message received")
<!DOCTYPE html>
<html>
<body>
Asset: $device.name<br>
<br>
Time: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)<br>
Message:  $event.getString("message")<br>

</body>
</html>  
