#set($subject = "$device.name: resultado de comando recibido")
#set($digest = "Resultado de comando de $device.name recibido: $position.getString('result') a las $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $device.name<br>
Resultado: $position.getString('result')<br>
Hora: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Enlace: <a href="$webUrl/event/$event.id">$webUrl/event/$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Cancelar suscripción</a>
</body>
</html>
