#set($subject = "$device.name: conectado")
#set($digest = "$device.name conectado a las $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $device.name<br>
Conectado<br>
Hora: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Cancelar suscripción</a>
</body>
</html>
