#set($subject = "Vencimiento del dispositivo")
#set($digest = "El dispositivo $esc.html($device.name) ha expirado")
<!DOCTYPE html>
<html>
<body>
Su dispositivo $esc.html($device.name) ha expirado.
</body>
</html>
