#set($subject = "$device.name: cambio de conductor")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString('driverUniqueId'))
#end
#set($digest = "El conductor $driverName ha cambiado en $device.name a las $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $device.name<br>
Hora: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Punto: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
Conductor: $driverName<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Cancelar suscripción</a>
</body>
</html>
