#set($subject = "Restablecimiento de contraseña")
#set($digest = "Enlace para restablecer contraseña: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Para restablecer la contraseña, haga clic en el siguiente enlace:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
