#set($subject = "$device.name: статус неизвестен")
#set($digest = "$device.name статус неизвестен с $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Устройство: $device.name<br>
Статус неизвестен<br>
Время: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Отписаться</a>
</body>
</html>
