#set($subject = "$device.name: превышение сторости")
#if($speedUnit == "kmh")
#set($speedValue = $position.speed * 1.852)
#set($speedString = $numberTool.format('0.0 км/ч', $speedValue))
#elseif($speedUnit == "mph")
#set($speedValue = $position.speed * 1.15078)
#set($speedString = $numberTool.format('0.0 mph', $speedValue))
#else
#set($speedString = $numberTool.format('0.0 kn', $position.speed))
#end
#set($digest = "$device.name превышение сторости $speedString#{if}($geofence) в $geofence.name#{else}#{end} с $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Устройство: $device.name<br>
Превышение сторости: $speedString#{if}($geofence) в $geofence.name#{else}#{end}<br>
Время: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Координаты: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Отписаться</a>
</body>
</html>
