#set($subject = "Сброс пароля")
#set($digest = "Ссылка для сброса пароля: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Чтобы сбросить пароль, пожалуйста, перейдите по следующей ссылке:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
