#set($subject = "Истечение срока действия учетной записи")
#set($digest = "Срок действия учетной записи истек")
<!DOCTYPE html>
<html>
<body>
Срок действия вашей учетной записи истек.
</body>
</html>
