ℹ️ *CANCELAMENTO ENVIADO*

```Veículo..:``` *$device.name*

_Informamos que o pedido de cancelamento do chamado de emergência foi encaminhado para a equipe responsável e essa poderá entrar em contato caso necessário._