⚠️ *COMANDO NÃO PROCESSADO*

```Veículo.:``` *$device.name*

_Possivelmente o rastreador encontra-se desconectado, o que impede o recebimento de comandos._
_Por gentileza, tente novamente em alguns instantes._