🆘 *EMERGÊNCIA* 🆘

```Veículo..:``` *$device.name*

🚓 *ATENÇÃO:* Em 60 segundos acionaremos a Polícia Militar e as equipes de busca para saírem na recuperação do veículo.

‼️SE FOI UM ENGANO, ENVIE IMEDIATAMENTE A MENSAGEM:‼️

*CANCELAR*

_Este comando só deve ser usado em casos de necessidade de força policial, pois nossas equipes estarão se deslocando para busca de veículo roubado._
_Deparando-se com um falso incidente, todos os prejuízos serão devidos para quem acionou o serviço._