🚫 *BLOQUEAR*

```Veículo.:``` *$device.name*

_O veículo bloqueará assim que o comando for processado pelo rastreador. O tempo de processamento do comando poderá variar de acordo com a rede telefônica._