▪️ *Comandos válidos* ▪️

*LOCALIZAR* 
_mostra a última localização registrada do veículo_

*SEGUIR* 
_disponibiliza um link para acompanhamento do veículo no mapa em tempo real_

*BLOQUEAR*
_ativa o bloqueio do veículo_

*DESBLOQUEAR*
_desativa o bloqueio do veículo_

*VELOCIDADE 100* 
_configura o alerta de velocidade para o valor especificado. Se o valor for "0" o alerta será desabilitado_

*SILENCIAR* 
_desliga alertas no número principal_

*NOTIFICAR* 
_liga os alertas no número principal_

*SILENCIAR SECUNDÁRIO* 
_desliga todos os alertas no Whatsapp secundário_

*NOTIFICAR SECUNDÁRIO* 
_liga todos os alertas no Whatsapp secundário_

*SUPORTE*
_Para qualquer tipo de apoio técnico, administrativo ou financeiro de nossa equipe_

❗ Caso tenha mais de um veículo os comandos deverão ser seguidos da placa ou nome do mesmo. Exemplo, LOCALIZAR AAA-1234