▪️ *Comandos válidos* ▪️

*LOCALIZAR* 
_mostra a última localização registrada do veículo_

*SEGUIR* 
_disponibiliza um link para acompanhamento do veículo no mapa em tempo real_
#if($user.limitCommands == false)

*BLOQUEAR*
_ativa o bloqueio do veículo_

*DESBLOQUEAR*
_desativa o bloqueio do veículo_

*VELOCIDADE 100* 
_configura o alerta de velocidade para o valor especificado. Se o valor for "0" o alerta será desabilitado_
#end

*SILENCIAR* 
_desliga alertas no número principal_

*NOTIFICAR* 
_liga os alertas no número principal_

*SILENCIAR SECUNDÁRIO* 
_desliga todos os alertas no Whatsapp secundário_

*NOTIFICAR SECUNDÁRIO* 
_liga todos os alertas no Whatsapp secundário_
#if($whatsappSupport)

*SUPORTE*
_Para qualquer tipo de apoio técnico, administrativo ou financeiro de nossa equipe_
#end
#if($user.attributes.whatsappEmergency)

*EMERGÊNCIA*
_Em casos de intervenção policial, nossa equipe de pronta resposta será acionada_
#end

📃 ```.:: RELATÓRIOS ::.```

*KMHOJE*
_Retorna o resumo da data atual_

*KMONTEM*
_Retorna o resumo do dia anterior_

*KMSEMANA*
_Retorna o resumo da semana atual_

*KMMES*
_Retorna o resumo do mês atual_

❗ Caso tenha mais de um veículo os comandos deverão ser seguidos da placa ou nome do mesmo. Exemplo, LOCALIZAR AAA-1234