[Unit]
Description=digitalegiz
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/digitalegiz
ExecStart=/opt/digitalegiz/jre/bin/java -jar tracker-server.jar conf/digitalegiz.xml
SyslogIdentifier=digitalegiz
SuccessExitStatus=143
WatchdogSec=600
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
