#set($subject = "$device.name: Unbekannter Status")
#set($digest = "$device.name der Status seit $dateTool.format('dd.MM.yyyy', $event.eventTime, $locale, $timezone) um $dateTool.format('HH:mm:ss', $event.eventTime, $locale, $timezone) Uhr unbekannt")
<!DOCTYPE html>
<html>
<body>
Ger&auml;t: $device.name<br>
Unbekannter Status<br>
seit $dateTool.format('dd.MM.yyyy', $event.eventTime, $locale, $timezone) um $dateTool.format('HH:mm:ss', $event.eventTime, $locale, $timezone) Uhr<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
