#set($subject = "$esc.html($device.name): offline")
#set($digest = "$esc.html($device.name) ist seit $dateTool.format('dd.MM.yyyy', $event.eventTime, $locale, $timezone) um $dateTool.format('HH:mm:ss', $event.eventTime, $locale, $timezone) Uhr offline")
<!DOCTYPE html>
<html>
<body>
Ger&auml;t: $esc.html($device.name)<br>
Offline<br>
seit $dateTool.format('dd.MM.yyyy', $event.eventTime, $locale, $timezone) um $dateTool.format('HH:mm:ss', $event.eventTime, $locale, $timezone) Uhr<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
