#set($subject = "$esc.html($device.name): Mediendatei empfangen")
#set($digest = "$esc.html($device.name) $esc.html($event.getString('media')) empfangen: $esc.html($event.getString('file')) am $dateTool.format('dd.MM.yyyy', $event.eventTime, $locale, $timezone) um $dateTool.format('HH:mm:ss', $event.eventTime, $locale, $timezone) Uhr")
<!DOCTYPE html>
<html>
<body>
Ger&auml;t: $esc.html($device.name)<br>
Typ: $esc.html($event.getString('media'))<br>
Datei: <a href="$webUrl/api/media/$device.uniqueId/$esc.html($event.getString('file'))">$esc.html($event.getString('file'))</a><br>
am $dateTool.format('dd.MM.yyyy', $event.eventTime, $locale, $timezone) um $dateTool.format('HH:mm:ss', $event.eventTime, $locale, $timezone) Uhr<br>
Link: <a href="$webUrl/event/$event.id">$webUrl/event/$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
