#set($subject = "Passwort zur&uuml;cksetzen")
#set($digest = "Link zum zur&uuml;cksetzen des Passwortes: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Um das Passwort zur&uuml;ckzusetzen, klicke bitte auf den folgenden Link:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
