#set($subject = "$device.name: has exited geofence")
<!DOCTYPE html>
<html>
<body>
Device: $device.name<br>
Has exited geofence: $geofence.name<br>
Point: <a href="https://www.openstreetmap.org/?mlat=$position.latitude&mlon=$position.longitude#map=16/$position.latitude/$position.longitude">#if($position.address)$position.address#{else}$position.latitude°, $position.longitude°#end</a><br>
Time: $event.serverTime<br>
</body>
</html>  
