.status-color-online {
    background-color: rgba(77, 250, 144, 0.3);
}
.status-color-unknown {
    background-color: rgba(250, 190, 77, 0.3);
}
.status-color-offline {
    background-color: rgba(255, 84, 104, 0.3);
}

.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 0;
}

@media all and (max-device-width: 768px) {
    .state-indicator {
        z-index: 1;
    }
}

#attribution {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: x-small;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
    border-left: 6px solid rgba(56, 146, 212, .15);
    border-right: 6px solid rgba(56, 146, 212, .15);
    border-bottom: 6px solid rgba(56, 146, 212, .15);
    border-top: 6px solid rgba(56, 146, 212, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes rotation {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-o-keyframes rotation {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(359deg); }
}
@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
